Source: isatapd
Section: net
Priority: extra
Maintainer: Bernhard Schmidt <berni+deb@birkenwald.de>
Build-Depends: debhelper (>= 9~), dpkg-dev (>= 1.16.1)
Standards-Version: 3.9.5
Homepage: http://saschahlusiak.de/linux/isatap.htm
Vcs-Git: git://github.com/bernhardschmidt/isatapd-debian.git
Vcs-Browser: https://github.com/bernhardschmidt/isatapd-debian

Package: isatapd
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: creates and maintains an ISATAP client tunnel (RFC 5214)
 isatapd creates and maintains an ISATAP client tunnel (RFC 5214) in Linux.
 . 
 It uses the in-kernel ISATAP support first introduced in linux-2.6.25. 
 It does NOT operate the tunnel or handle any IPv6 traffic, it only sets
 up the tunnel parameters, the Potential Router List, sends periodic 
 router solicitations and tries to detect link changes.
