#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

binary-install/isatapd::
	dh_installifupdown -p$(cdbs_curpkg)
	dh_installppp -p$(cdbs_curpkg)
